<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css">

<body>
    <svg width="0" height="0" style="position:absolute;z-index:-1;">
        <defs>
            <filter id="remove-alpha" x="0" y="0" width="100%" height="100%">
                <feComponentTransfer>
                    <feFuncA type="discrete" tableValues="0 1"></feFuncA>
                </feComponentTransfer>
            </filter>
        </defs>
    </svg>
    <div>
        <h1><a href="/">Creatures</a></h1>
        <h2>{{ author }}</h2>
        <p>has made contributions to:</p>
        {% if contributions %}
        <ol>
            {% for c in contributions %}
            <li>The <strong>{{ c.part }}</strong> of <a href="/finished/{{ c.creature_id }}/">{{ c.creature_name }}</a>
            </li>
            {% endfor %}
        </ol>
        {% else %}
        <p>... Nothing yet!</p>
        {% endif %}
    </div>
    <script src="/static/finished.js"></script>
</body>