<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css">

<body>
    <svg width="0" height="0" style="position:absolute;z-index:-1;">
        <defs>
            <filter id="remove-alpha" x="0" y="0" width="100%" height="100%">
                <feComponentTransfer>
                    <feFuncA type="discrete" tableValues="0 1"></feFuncA>
                </feComponentTransfer>
            </filter>
        </defs>
    </svg>
    <div>
        <h1><a href="/">Creatures</a></h1>
        <h2>{{ creature.name }}</h2>
        <div>
            <button id="replay-button">Replay</button>
            <button id="finished-button">Finished Drawing</button>
        </div>
        <canvas id="drawing-canvas" height="800" width="500"></canvas>
        <span id="head" style="display: none;">{{ head_data }}</span>
        <span id="body" style="display: none;">{{ body_data }}</span>
        <span id="legs" style="display: none;">{{ legs_data }}</span>
        <span id="head-history" style="display: none;">{{ head_history }}</span>
        <span id="body-history" style="display: none;">{{ body_history }}</span>
        <span id="legs-history" style="display: none;">{{ legs_history }}</span>
        <h2>Authors:</h2>
        <p>
            {% if authors[0] is not none %}
            Head: <a href="/author/{{ authors[0] }}"><em>{{ authors[0] }}</em></a> <br>
            {% else %}
            Head: <em>anonymous</em> <br>
            {% endif %}
            {% if authors[1] is not none %}
            Body: <a href="/author/{{ authors[1] }}"><em>{{ authors[1] }}</em></a> <br>
            {% else %}
            Body: <em>anonymous</em> <br>
            {% endif %}
            {% if authors[2] is not none %}
            Legs: <a href="/author/{{ authors[2] }}/"><em>{{ authors[2] }}</em></a> <br>
            {% else %}
            Legs: <em>anonymous</em> <br>
            {% endif %}
        </p>
    </div>
    <script src="/static/finished.js"></script>
</body>