<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% from 'macros.html' import drawing_area %}

<body>
    <svg width="0" height="0" style="position:absolute;z-index:-1;">
        <defs>
            <filter id="remove-alpha" x="0" y="0" width="100%" height="100%">
                <feComponentTransfer>
                    <feFuncA type="discrete" tableValues="0 1"></feFuncA>
                </feComponentTransfer>
            </filter>
        </defs>
    </svg>
    <div>
        <h1><a href="/">Creatures</a></h1>
        <p>
            Start drawing a creature and name it.
        </p>
        <p>
            Anything past the arrow will be visible to the next person.
        </p>
        <p>
            Click a name below to continue someone else's creature.
        </p>
        {{ drawing_area() }}
        <form action="/new-creature/" method="post">
            <input type="text" placeholder="Creature Name" name="name" id="monster-name" required>
            <input type="hidden" name="section" value="head">
            <input type="hidden" name="image" id="image-input">
            <input type="hidden" name="history" id="history-input">
            <input type="text" maxlength="20" name="author" id="author" placeholder="(Optional) Author">
            <input type="submit" id="done-button" value="Done">
        </form>
        <h2>Needs body ({{ needing_bodies|length }})</h2>
        <ul>
            {% for creature in needing_bodies %}
            <li><a href="{{ url_for('add_part', creature_id=creature.id, part='body') }}">{{ creature.name }}</a>
            </li>
            {% endfor %}
        </ul>
        <h2>Needs legs ({{ needing_legs|length }})</h2>
        <ul>
            {% for creature in needing_legs %}
            <li><a href="{{ url_for('add_part', creature_id=creature.id, part='legs') }}">{{ creature.name }}</a>
            </li>
            {% endfor %}
        </ul>
        <h2>Finished ({{ finished_creatures|length }})</h2>
        <ul>
            {% for creature in finished_creatures %}
            <li><a href="{{ url_for('finished_creature', id=creature.id) }}">{{ creature.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <script src="/static/index.js"></script>
</body>