<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css">

<body>
    <svg width="0" height="0" style="position:absolute;z-index:-1;">
        <defs>
            <filter id="remove-alpha" x="0" y="0" width="100%" height="100%">
                <feComponentTransfer>
                    <feFuncA type="discrete" tableValues="0 1"></feFuncA>
                </feComponentTransfer>
            </filter>
        </defs>
    </svg>
    <div>
        <h1><a href="/">Creatures</a></h1>
        <canvas id="drawing-canvas" height="300" width="500">{{ part_data }}</canvas>
        <div id="color-selector">
            <input type="radio" name="color" id="#140c1c" value="#140c1c" checked>
            <label class="color-selector-option" for="#140c1c">&nbsp;</label>
            <input type="radio" name="color" id="#442434" value="#442434">
            <label class="color-selector-option" for="#442434">&nbsp;</label>
            <input type="radio" name="color" id="#30346d" value="#30346d">
            <label class="color-selector-option" for="#30346d">&nbsp;</label>
            <input type="radio" name="color" id="#4e4a4e" value="#4e4a4e">
            <label class="color-selector-option" for="#4e4a4e">&nbsp;</label>
            <input type="radio" name="color" id="#854c30" value="#854c30">
            <label class="color-selector-option" for="#854c30">&nbsp;</label>
            <input type="radio" name="color" id="#346524" value="#346524">
            <label class="color-selector-option" for="#346524">&nbsp;</label>
            <input type="radio" name="color" id="#d04648" value="#d04648">
            <label class="color-selector-option" for="#d04648">&nbsp;</label>
            <input type="radio" name="color" id="#757161" value="#757161">
            <label class="color-selector-option" for="#757161">&nbsp;</label>
        </div>
        <div id="tool-selector">
            <!-- <input type="radio" name="tool" id="stroke" value="stroke" checked>
            <label for="stroke"> Stroke</label>
            <input type="radio" name="tool" id="fill" value="fill">
            <label for="fill"> Fill</label> -->
            <input name="size" type="range" min="1" max="100">
        </div>
        <form action="/update-creature/" method="post">
            <input type="text" placeholder="Name" name="name" id="monster-name" value="{{ creature.name }}" required
                disabled>
            <input type="hidden" name="section" value="{{ part }}">
            <input type="hidden" name="creature_id" value="{{ creature.id }}">
            <input type="hidden" name="image" id="image-input">
            <input type="submit" id="done-button" value="Done">
        </form>
    </div>
    <script src="/static/index.js"></script>
</body>